ProjectSource/Makefile
ProjectSource/Makefile.Debug
ProjectSource/Makefile.Release
ProjectSource/*/Makefile
ProjectSource/*/Makefile*
ProjectSource/*/*.pdb


ProjectSource/*/*.autosave


ProjectSource/lib/*
ProjectSource/bin/*

ProjectSource/build-*
build-*

ProjectSource/*/debug
ProjectSource/*/release


ProjectSource/*/ui_*

ProjectSource/*.pro.*
